@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex-1{
    flex:1;
}

body{
    font-family:  'Poppins', sans-serif;
}

/* top banner section */

.top-banner{
    display: flex;
    justify-content: space-between;
    height: 677px;
    width: 100%;
    background-color:#2D25A0;
}
.left-banner{
    margin-top: 198px;
    margin-left: 144px;
    margin-bottom: 169px;
}

.left-banner h1{
    font-size: 64px;
    color: #FFFFFF;
    font-weight: bold;
    line-height: 80px;
}

.left-banner button{
    background-color: #E02C6D;
    height: 44px;
    width: 168px;
    padding: 10px 24px;
    color: white;
    font-weight: bold;
    font-size: 15px;
    margin-top: 36px;
    cursor: pointer;
    border: none;
    overflow: hidden;
     
}
.left-banner button:hover{
    color:black;
    background-image: linear-gradient(#2E86C1, #AED6F1 );
    transform: scale(1.4);
    transition: transform 3s ease-in-out;
    margin-left: 40px;
}

.right-banner{
    margin-top:153px;
    margin-right: 140px;
    margin-bottom: 86px;
}

.right-banner img{
    height: 438px;
    width: 556px;
    overflow: hidden;
}

.right-banner img:hover{
    transform: scale(1.2) ;
    transition: transform 3s ease-in-out;
    
}

/*end top banner section*/


/* Players album */
.galarry{
    width: 60%;
}
.photo-album{
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    margin-left: 180px;
    margin-top: 70px;
    gap: 50px;
}

.photo-frame{
    width: 300px;
    height: 400px;
    box-shadow: 0 0 5px 0.7rem #ECF0F1;
    padding: 1rem;
    overflow: hidden;   
    
}
.photo img{
    width: 100%;
    height: 200px;
    
}

.photo-details h3{
    margin-top: 10px;
    margin-bottom: 10px;
}

.photo-details p{
    color: #9a9a9a;
    font-weight: 400;
}
/*end Players album*/

/*teams*/
.teams-flag{
    margin-top: 70px;
}

.teams-header h1{
    text-align: center;
    font-weight: 900;
    font-size: 2rem;
    color: #676767;
}

.qualified-teams{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 20px;
    
}

.qualified-teams,.flag-image img{
    width: 80%;
    margin-left: 80px;
    margin-top: 20px;

} 

/*end teams*/

/*contact form*/
.contact{
    margin-top: 30px;
    justify-content: center;
    display: flex;
}

.contact-form{
    display: flex;
    flex-direction: column;
    padding: 30px;
}

.contact-form h2{
    text-align: center;
    font-size: 2rem;
    padding: 20px;
    color:#676767;   
}

.contact-form input, textarea{
    font-size: 1.5rem;
    margin-top: 15px;
    border: 1px solid #ECF0F1;
    box-shadow: 0 0 5px  #ECF0F1;
    padding: 15px;
       
}

.btn{
    margin-top: 20px;
    padding: 15px;
    font-size: 1.5rem;
    font-weight: 900;
    color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    background-image: linear-gradient(45deg, lightsalmon, tomato);
}

/*end contact form*/


/*footer section*/

.footer{
    margin-bottom: 63px;
}

.footer-image img{
    height: 125px;
    width: 490px;
    text-align: center;
    margin-left: 400px;
    margin-top: 158px;
    
}
.social-image{
    text-align: center;
    
}

.social-image i{
    margin-left: 10px;
    border: 1px solid #d6caca;
    background-color: #bebaba;
    padding: 5px;
    border-radius: 50%;
}

.copywrite{
    margin-top: 20px;
}

/*end footer section*/

/*media queary code start*/
/*mobile devices*/

@media only screen and (max-width:688px){
    .container{
        width: 100%;
    }

    /*top banner section*/
    .top-banner{
        flex-direction: column;
        width: 420px;
        height: 695px;
    }

    .left-banner{
        margin-top: 20px;
        margin-left: 16px;
        margin-bottom: 20px;
       
    }

    .left-banner h1{
        font-size: 40px;
        color: #FFFFFF;
        font-weight: bold;
        line-height: 80px;
    }

    .right-banner{
        margin-top:10px;
        margin-bottom: 61px;
        width: 100%;
    }

    .right-banner img{
        height: 238px;
        width: 300px;
        overflow: hidden;
    }
    /* Players album */
    .photo-album{
        grid-template-columns: repeat(1, 1fr);
        margin-left: 30px; 
    }

    .photo-frame{
        width: 280px;
        height: 400px;
        box-shadow: 0 0 5px 0.7rem #ECF0F1;
        padding: 1rem;
        overflow: hidden;   
        
    }
    

   /* End Players album */

   /*teams section*/
   .qualified-teams{
        grid-template-columns: repeat(1, 1fr);
        margin-left: 5px;
   }

   .qualified-teams,.flag-image img{
        width: 60%;
        margin-left: 40px;
       
    }
    
    .teams-header h1{
        text-align: center;
        font-weight: 900;
        font-size: 3rem;
        color: #676767;
        
    }
   /*end team section*/


   /*contact section*/
   .contact-form{
       margin-left: 20px;
   }
   /*end contact section*/


   /*footer section*/
   .footer-image img{
       height: 50px;
       width: 170px;
       margin-left: 100px;

   }
}


@media only screen and (min-width:688px) and (max-width:992px){

     /*top banner section*/
     .top-banner{
        width: 1000px;
        height: 695px;
    }

    .left-banner h1{
        margin-top: 10px;
        margin-left: 10px;
        margin-bottom: 20px;
       
    }
    .right-banner img{
        margin-top: 40px;
        width: 490px;
    }

    /* Players album */
    .photo-album{
        grid-template-columns: repeat(2, 1fr);
        margin-left: 175px;
    }

    .photo-frame{
        width: 280px;
        height: 400px;
        box-shadow: 0 0 5px 0.7rem #ECF0F1;
        padding: 1rem;
        overflow: hidden;   
        
    }
   /* End Players album */

    /*footer section*/
    .footer-image img{
        height: 50px;
        width: 220px;
        margin-left: 258px;
    }
}

/* end media queary */